{
    "swagger": "2.0",
    "info": {
        "description": "Provides a REST API for the Pool Project",
        "version": "1.0.0",
        "title": "Pool REST API",
        "contact": {
            "name": "Pool project team",
            "url": "https://github.com/no-domestic-violence"
        }
    },
    "host": "fulfilment-management-api.bonial.global",
    "basePath": "/",
    "tags": [
        {
            "name": "article-controller",
            "description": "Article Controller"
        }
    ],
    "paths": {
        "/articles": {
            "post": {
                "tags": [
                    "article-controller"
                ],
                "summary": "createArticle",
                "operationId": "createArticleUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {}
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        }
    }
}